# Tugas Besar Pembelajaran Mesin Tahap 2

Muhammad Rizky Irsyad - 1301180347 - IF4208

Hasbi Dawami - 1301180320 - IF4208

## 1. Evaluasi Masalah
Berdasarkan dataset yang telah diberikan, Goals atau tujuan akhir dari tugas ini adalah untuk memprediksi label "Tertarik"

## 2. Data Preprocessing
Langkah pertama yang dapat kita lakukan adalah import library-library yang dibutuhkan untuk mengolah data dan fungsi yang membantu untuk membangun model

In [58]:
import numpy as np
import pandas as pd
import statistics
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report

Selanjutnya kita mulai untuk membersihkan data. Berhubung karena disini dataset sudah di split antara data train dan data test maka kita akan melakukan dua kali proses pembersihan.

Tahapan yang akan dilakukan terhadap data kurang lebih seperti tahap sebelumnya, yaitu:

1. Drop Missing Value
2. Encoding Categorical Data
3. Normalisasi (MinMax Scaler)

In [59]:
df = pd.read_csv('kendaraan_train.csv')
df2 = pd.read_csv('kendaraan_test.csv')

In [60]:
df

            id Jenis_Kelamin  ...  Lama_Berlangganan  Tertarik
0            1        Wanita  ...               97.0         0
1            2          Pria  ...              158.0         0
2            3           NaN  ...              119.0         0
3            4        Wanita  ...               63.0         0
4            5          Pria  ...              194.0         0
...        ...           ...  ...                ...       ...
285826  285827        Wanita  ...              217.0         0
285827  285828        Wanita  ...               50.0         0
285828  285829        Wanita  ...              226.0         0
285829  285830          Pria  ...              270.0         0
285830  285831          Pria  ...               44.0         0

[285831 rows x 12 columns]

In [61]:
df2

      Jenis_Kelamin  Umur  SIM  ...  Kanal_Penjualan  Lama_Berlangganan Tertarik
0            Wanita    49    1  ...               26                145        0
1              Pria    22    1  ...              152                241        0
2              Pria    24    1  ...              152                 62        0
3              Pria    46    1  ...              124                 34        0
4              Pria    35    1  ...              152                229        0
...             ...   ...  ...  ...              ...                ...      ...
47634          Pria    61    1  ...              124                 67        0
47635          Pria    41    1  ...              157                232        0
47636          Pria    24    1  ...              152                211        0
47637          Pria    59    1  ...               26                239        1
47638          Pria    52    1  ...              124                170        0

[47639 rows x 11 columns]

In [62]:

df = df.drop(columns=['id'], axis=1) #Drop Kolom "ID"

#Drop Missing Value
df.dropna(inplace=True)

#Encoding untuk Data Kategori
replaces_data = {"Kendaraan_Rusak": {"Pernah": 1, "Tidak": 0}}
df.replace(replaces_data, inplace=True)

replaces_data = {"Jenis_Kelamin": {"Pria": 1, "Wanita": 0}}
df.replace(replaces_data, inplace=True)

replaces_data = {"Umur_Kendaraan": {"1-2 Tahun": 1, "< 1 Tahun": 0, "> 2 Tahun": 2}}
df.replace(replaces_data, inplace=True)

#Normalisasi
scaler = MinMaxScaler()
scaled_values = scaler.fit_transform(df)
df.loc[:,:] = scaled_values

df.head()

   Jenis_Kelamin      Umur  SIM  ...  Kanal_Penjualan  Lama_Berlangganan  Tertarik
0            0.0  0.153846  1.0  ...         0.932099           0.301038       0.0
1            1.0  0.430769  1.0  ...         0.172840           0.512111       0.0
3            0.0  0.584615  1.0  ...         0.759259           0.183391       0.0
5            1.0  0.015385  1.0  ...         0.932099           0.557093       0.0
8            0.0  0.000000  1.0  ...         0.981481           0.072664       0.0

[5 rows x 11 columns]

In [63]:
df

        Jenis_Kelamin      Umur  ...  Lama_Berlangganan  Tertarik
0                 0.0  0.153846  ...           0.301038       0.0
1                 1.0  0.430769  ...           0.512111       0.0
3                 0.0  0.584615  ...           0.183391       0.0
5                 1.0  0.015385  ...           0.557093       0.0
8                 0.0  0.000000  ...           0.072664       0.0
...               ...       ...  ...                ...       ...
285826            0.0  0.046154  ...           0.716263       0.0
285827            0.0  0.015385  ...           0.138408       0.0
285828            0.0  0.046154  ...           0.747405       0.0
285829            1.0  0.738462  ...           0.899654       0.0
285830            1.0  0.384615  ...           0.117647       0.0

[171068 rows x 11 columns]

In [64]:
#Pisah data dari label
predictions = ['Jenis_Kelamin' , 'Umur' , 'SIM' , 'Kode_Daerah', 'Sudah_Asuransi', 'Umur_Kendaraan', 
               'Kendaraan_Rusak', 'Premi', 'Kanal_Penjualan', 'Lama_Berlangganan']

x_train = df[predictions]
y_train = df['Tertarik']

In [65]:
#Drop Missing Value
df2.dropna(inplace=True)

#Encoding untuk Data Kategori
replaces_data = {"Kendaraan_Rusak": {"Pernah": 1, "Tidak": 0}}
df2.replace(replaces_data, inplace=True)

replaces_data = {"Jenis_Kelamin": {"Pria": 1, "Wanita": 0}}
df2.replace(replaces_data, inplace=True)

replaces_data = {"Umur_Kendaraan": {"1-2 Tahun": 1, "< 1 Tahun": 0, "> 2 Tahun": 2}}
df2.replace(replaces_data, inplace=True)

#Normalisasi
scaler = MinMaxScaler()
scaled_values = scaler.fit_transform(df2)
df2.loc[:,:] = scaled_values

df2.head()

   Jenis_Kelamin      Umur  SIM  ...  Kanal_Penjualan  Lama_Berlangganan  Tertarik
0            0.0  0.446154  1.0  ...         0.154321           0.467128       0.0
1            1.0  0.030769  1.0  ...         0.932099           0.799308       0.0
2            1.0  0.061538  1.0  ...         0.932099           0.179931       0.0
3            1.0  0.400000  1.0  ...         0.759259           0.083045       0.0
4            1.0  0.230769  1.0  ...         0.932099           0.757785       0.0

[5 rows x 11 columns]

In [66]:
df2

       Jenis_Kelamin      Umur  ...  Lama_Berlangganan  Tertarik
0                0.0  0.446154  ...           0.467128       0.0
1                1.0  0.030769  ...           0.799308       0.0
2                1.0  0.061538  ...           0.179931       0.0
3                1.0  0.400000  ...           0.083045       0.0
4                1.0  0.230769  ...           0.757785       0.0
...              ...       ...  ...                ...       ...
47634            1.0  0.630769  ...           0.197232       0.0
47635            1.0  0.323077  ...           0.768166       0.0
47636            1.0  0.061538  ...           0.695502       0.0
47637            1.0  0.600000  ...           0.792388       1.0
47638            1.0  0.492308  ...           0.553633       0.0

[47639 rows x 11 columns]

In [67]:
#Pisah data dari label
prediksi = ['Jenis_Kelamin' , 'Umur' , 'SIM' , 'Kode_Daerah', 'Sudah_Asuransi', 'Umur_Kendaraan', 
               'Kendaraan_Rusak', 'Premi', 'Kanal_Penjualan', 'Lama_Berlangganan']

x_test = df2[prediksi]
y_test = df2['Tertarik']

## 3. Pemodelan

Model menggunakan Logistic Regression

In [68]:
model = LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

## 4. Evaluasi

In [69]:
#Akurasi
print("Score : ",model.score(x_test, y_test))

Score :  0.8765717164508071

In [70]:
#5 Cross Fold Falidation
score =  cross_val_score(model, x_test, y_test, cv=5)
print("CROSS VALIDATION SCORE : ",statistics.mean(score))

CROSS VALIDATION SCORE :  0.8768655957433101

In [71]:
#Classification Report
y_pred = model.predict(x_test)
classes = ['Tidak Tertarik', 'Tertarik']
print(classification_report(y_test, y_pred, target_names=classes))

                precision    recall  f1-score   support

Tidak Tertarik       0.88      1.00      0.93     41778
      Tertarik       0.34      0.00      0.01      5861

      accuracy                           0.88     47639
     macro avg       0.61      0.50      0.47     47639
  weighted avg       0.81      0.88      0.82     47639

## 5. Eksperimen

Eksperimen melakukan seleksi menggunakan koefisien dan RFE

Feature Selection With Coefficien

In [72]:
print(model.coef_)

[[ 1.16909891e-01 -1.39071127e+00  1.03405019e+00 -6.03060907e-04
  -3.95170995e+00  1.41387307e+00  2.03078433e+00  7.75667730e-01
  -5.04151174e-01  3.46002049e-02]]

In [73]:
model.coef_ > 1

array([[False, False,  True, False, False,  True,  True, False, False,
        False]])

In [74]:
#Pisah data dari label
predictions = ['SIM' , 'Umur_Kendaraan', 'Kendaraan_Rusak']

x2_train = df[predictions]
y2_train = df['Tertarik']

In [75]:
#Pisah data dari label
prediksi = ['SIM' , 'Umur_Kendaraan', 'Kendaraan_Rusak']

x2_test = df2[prediksi]
y2_test = df2['Tertarik']

In [76]:
model_coef = LogisticRegression()
model_coef.fit(x2_train, y2_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [77]:
#Akurasi
print("Score : ",model_coef.score(x2_test, y2_test))

Score :  0.8769705493398267

In [78]:
#5 Cross Vold Falidation
score2 =  cross_val_score(model_coef, x2_test, y2_test, cv=5)
print("CROSS VALIDATION SCORE : ",statistics.mean(score2))

CROSS VALIDATION SCORE :  0.8769705495636292

In [79]:
#Classification Report
y2_pred = model_coef.predict(x2_test)
classes2 = ['Tidak Tertarik', 'Tertarik']
print(classification_report(y2_test, y2_pred, target_names=classes2))

                precision    recall  f1-score   support

Tidak Tertarik       0.88      1.00      0.93     41778
      Tertarik       0.00      0.00      0.00      5861

      accuracy                           0.88     47639
     macro avg       0.44      0.50      0.47     47639
  weighted avg       0.77      0.88      0.82     47639

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Feature Selection With RFE

In [80]:
from sklearn.feature_selection import RFE
predictors = x_train
selector = RFE(model, 1)
selector = selector.fit(predictors, y_train)

In [81]:
order = selector.ranking_
order

array([ 8,  5,  6, 10,  1,  4,  2,  3,  7,  9])

In [82]:
fitur_ranks = []
for i in order:
    fitur_ranks.append(f"{i}. {df.columns[i]}")

fitur_ranks

['8. Kanal_Penjualan',
 '5. Umur_Kendaraan',
 '6. Kendaraan_Rusak',
 '10. Tertarik',
 '1. Umur',
 '4. Sudah_Asuransi',
 '2. SIM',
 '3. Kode_Daerah',
 '7. Premi',
 '9. Lama_Berlangganan']

In [83]:
#Pisah data dari label, kita ambil 5 terbaik
fitur = ['Umur' , 'SIM', 'Kode_Daerah', 'Sudah_Asuransi', 'Umur_Kendaraan']

x3_train = df[fitur]
y3_train = df['Tertarik']
x3_test = df2[fitur]
y3_test = df2['Tertarik']

In [84]:
model_rfe = LogisticRegression()
model_rfe.fit(x3_train, y3_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [85]:
#Akurasi
print("Score : ",model_rfe.score(x3_test, y3_test))

Score :  0.8768446021117152

In [86]:
#5 Cross Vold Falidation
score3 =  cross_val_score(model_rfe, x3_test, y3_test, cv=5)
print("CROSS VALIDATION SCORE : ",statistics.mean(score3))

CROSS VALIDATION SCORE :  0.8769705495636292

In [87]:
#Classification Report
y3_pred = model_rfe.predict(x3_test)
classes3 = ['Tidak Tertarik', 'Tertarik']
print(classification_report(y3_test, y3_pred, target_names=classes3))

                precision    recall  f1-score   support

Tidak Tertarik       0.88      1.00      0.93     41778
      Tertarik       0.20      0.00      0.00      5861

      accuracy                           0.88     47639
     macro avg       0.54      0.50      0.47     47639
  weighted avg       0.79      0.88      0.82     47639